
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITAXI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/scrollreveal.min.js"></script>
    @*css*@
    <link href="~/Content/home.css" rel="stylesheet" />
    @*icon*@
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    @*js*@
</head>
<body>
    <header class="header" id="header">

        <nav class="nav container">
            @{
                var admin_Cus = Session["admin"] as String;
                var admin_Dr = Session["Dr_admin"] as String;
                var customerAccount = Session["account"] as String;
                var driverAccount = Session["Dr_account"] as String;
                var loginAsadmin_Cus = !string.IsNullOrEmpty(admin_Cus);
                var loginAsDr_admin = !string.IsNullOrEmpty(admin_Dr);
                var loginAsCustomer = !string.IsNullOrEmpty(customerAccount);
                var loginAsDriver = !string.IsNullOrEmpty(driverAccount);
                var guest = !loginAsCustomer && !loginAsDriver;
                var controllerName = "";
                var account = "";
                if (guest)
                {
                    <a class="nav__logo" href="@Url.Action("Index", "Home")">ITAXI</a>
                    <div class="nav__menu" id="nav-menu">

                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#about" class="nav__link">關於我們</a>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="#Customers" class="nav__link dropdown__link">乘客<i class="bx bx-chevron-down dropdown__icon"></i></a>

                                <ul class="dropdown__menu">
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Create", "Customers")" class="nav__link">註冊</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Login", "Customers")" class="nav__link">登入</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="#Drivers" class="nav__link dropdown__link">司機 <i class="bx bx-chevron-down dropdown__icon"></i></a>

                                <ul class="dropdown__menu">
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Create", "Drivers")" class="nav__link">註冊</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Login", "Drivers")" class="nav__link">登入</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="@Url.Action("Contact", "Home")" class="nav__link">聯絡我們</a>
                            </li>
                        </ul>

                        <div class="nav__dark">
                            <span class="change-theme-name">Dark mode</span>
                            <i class="ri-moon-line change-theme" id="theme-button"></i>
                        </div>

                        <i class="ri-close-line nav__close" id="nav-close"></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-function-line"></i>
                    </div>
                }
                else if (loginAsDriver)
                {
                    controllerName = "Drivers";
                    account = driverAccount;
                    <a class="nav__logo" href="@Url.Action("Logining", "Drivers")">ITAXI</a>

                    <div class="nav__menu" id="nav-menu">

                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#about" class="nav__link">關於我們</a>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="#Customers" class="nav__link dropdown__link">乘客 <i class="bx bx-chevron-down dropdown__icon"></i></a>

                                <ul class="dropdown__menu">
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Create", "Customers")" class="nav__link">註冊</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Login", "Customers")" class="nav__link">登入</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="#Drivers" class="nav__link dropdown__link">司機 <i class="bx bx-chevron-down dropdown__icon"></i></a>

                                <ul class="dropdown__menu">
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("reservation", "Order")" class="nav__link">預約訂單</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("immediately", "Order")" class="nav__link">立即訂單</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Details/" + account, controllerName)" class="nav__link">會員資訊</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("PassengerRecord", "Order")" class="nav__link">載客紀錄</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Earn_day", "Order")" class="nav__link">本日收益</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="@Url.Action("Contact","Home")" class="nav__link">聯絡我們</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Details/" + account, controllerName)" style="color: var(--text-color);">您好~@account</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LogOff", "Home")" style="color: var(--text-color);">登出</a>
                            </li>
                        </ul>

                        <div class="nav__dark">
                            <span class="change-theme-name">Dark mode</span>
                            <i class="ri-moon-line change-theme" id="theme-button"></i>
                        </div>

                        <i class="ri-close-line nav__close" id="nav-close"></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-function-line"></i>
                    </div>
                }
                else // login as customer
                {
                    controllerName = "Customers";
                    account = customerAccount;

                    <a class="nav__logo" href="@Url.Action("Logining", "Customers")">ITAXI</a>

                    <div class="nav__menu" id="nav-menu">

                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#about" class="nav__link">關於我們</a>
                            </li>

                            <li class="nav__item dropdown">
                                <a href="#Customers" class="nav__link dropdown__link">乘客 <i class="bx bx-chevron-down dropdown__icon"></i></a>

                                <ul class="dropdown__menu">
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Create_immediately", "Order")" class="nav__link">立即搭車</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Create_reservation", "Order")" class="nav__link">預約搭車</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Details/" + account, controllerName)" class="nav__link">會員資訊</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("HitchhikingRecord", "Order")" class="nav__link">搭車紀錄</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav__item dropdown">
                                <a href="#Drivers" class="nav__link dropdown__link">司機 <i class="bx bx-chevron-down dropdown__icon"></i></a>

                                <ul class="dropdown__menu">
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Create", "Drivers")" class="nav__link">註冊</a>
                                    </li>
                                    <li class="dropdown__item">
                                        <a href="@Url.Action("Login", "Drivers")" class="nav__link">登入</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="@Url.Action("Contact","Home")" class="nav__link">聯絡我們</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Details/" + account, controllerName)" style="color: var(--text-color);">您好~@account</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LogOff", "Home")" style="color: var(--text-color);">登出</a>
                            </li>
                        </ul>

                        <div class="nav__dark">
                            <span class="change-theme-name">Dark mode</span>
                            <i class="ri-moon-line change-theme" id="theme-button"></i>
                        </div>

                        <i class="ri-close-line nav__close" id="nav-close"></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-function-line"></i>
                    </div>
                }
            }
        </nav>
    </header>
    <script src="~/Scripts/main.js"></script>
    <div class="container">
        <form method="post" action="@Url.Action("Earnings_oneday")" enctype="multipart/form-data">
            <main>
                <section class="detail section" id="detail">
                    <h2 class="section__title">查詢收益</h2>

                    <div class="detail__container grid">
                        <div class="detail__data">
                            <img src="~/image/Online payment_Two Color.svg"  class="detail__img" style="width:200px; height:200px;"/>
                        </div>

                        <div class="detail__information">
                            <h3 class="detail__information-title">查詢日期</h3>

                            <div class="detail__information-data">
                                <i class="ri-time-line detail__information-icon">日期(開始)</i>
                                <input type="date" formaction="" id="FromDate" name="FromDate" size="60" />
                            </div>
                            <div class="detail__information-data">
                                <i class="ri-time-line detail__information-icon">日期(結束)</i>
                                <input type="date" formaction="" id="ToDate" name="ToDate" size="60" />
                            </div>
                            <p><input type="submit" value="查詢" class="button" /></p>
                            @*<a onclick="location.href='@Url.Action("Earnings_oneday","Order")'" class="button">查詢</a>*@
                        </div>
                    </div>
                </section>
            </main>
        </form>
    </div>
</body>

</html>

<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line scrollup__icon"></i>
</a>
<footer class="footer section">
    <div class="footer__right">
        <p class="footer__copy">&copy; @DateTime.Now.Year - ITAXI團隊</p>
    </div>
</footer>